<footer class="bg-dark text-center text-secondary mt-auto">
  <div class="container-lg p-4 pb-2 text-center">
      <div class="row">
          <div class="col-lg-4 col-md-12 text-start">
              <img src="{{ BASE_DIR }}/static/images/design/logo.png" style="height: 50px" alt="Photo Total">
              <p class="mt-2">Here we can add some text about our company</p>
          </div>
          <div class="col-lg-4 col-md-6">
              <h4>PRODUCTS</h4>
              <h6 class="mt-3"><a href="{% url 'camera_page' %}" class="text-secondary">CAMERAS</a></h6>
              <h6 class="mt-3"><a href="{% url 'lens_page' %}" class="text-secondary">LENSES</a></h6>
              <h6 class="mt-3"><a href="{% url 'accessories_page' %}" class="text-secondary">ACCESSORIES</a></h6>
          </div>
          <div class="col-lg-4 col-md-6">
              <h4>CONTACT</h4>
              <p>
                  <i class="fa fa-home mr-3"> New Your, NY 2333, US</i>
              </p>
              <p>
                  <i class="fa fa-envelope mr-3"> photo_total@yahoo.com</i>
              </p>
              <p>
                  <i class="fa fa-phone mr-3"> +389 78 123 456</i>
              </p>
              <p>
                  <i class="fa fa-print mr-3"> +389 42 123 456</i>
              </p>
          </div>
      </div>

  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-secondary" href="#">Photo Total</a>
  </div>
</footer>